.Ucu{
    margin-left: 2%;
    margin-top: 2%;
}

.sliderHeader{
    margin-top: 2%;
    margin-left: 5%;
    width: 40%;
    display: inline-block;
}


.sliderValue{
    margin-left : 20%
}

.floatValueDiv{
    margin-top: 2%;
    margin-left: 5%;
    width: 40%;
    display: inline-block;
}

.sliderFloatValue{
    margin-left: 20%;
}

.downloadXML{
    margin-left : 40%;
    margin-top : 2%;
}

.normalField {
    margin-top: 2%;
    margin-left: 10%;
    color: #be2a92bd
}

.InputFieldFloat {
    margin-top: 2%;
    margin-left: 10%;
    color: #be2a92bd
}

table,th,td {
    border : 1px solid black;
    border-collapse: collapse;
}
th,td {
    padding: 5px;
}


.submit{
    background-color: white;
    color: black;
}

.uploadXML{
    margin-left: 550px;
}