.Ucu{
    margin-left: 2%;
    margin-top: 2%;
}

.sliderHeader{
    margin-top: 2%;
    margin-left: 5%;
    width: 40%;
    display: inline-block;
}


.sliderValue{
    margin-left : 25px;
}

table,th,td {
  border : 1px solid black;
  border-collapse: collapse;
}
th,td {
  padding: 5px;
}
.submit{
  background-color: white;
  color: black;
}

